USE [master]
GO
/****** Object:  Database [Restaurant]    Script Date: 10/06/2021 17:14:46 ******/
CREATE DATABASE [Restaurant]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Restaurant', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Restaurant.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Restaurant_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Restaurant_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Restaurant].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Restaurant]
GO
/****** Object:  Table [dbo].[Administrateur]    Script Date: 10/06/2021 17:14:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Administrateur](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Pseudo] [varchar](50) NOT NULL,
	[Nom] [varchar](50) NOT NULL,
	[Prenom] [varchar](50) NOT NULL,
	[Date_De_Naissance] [datetime] NOT NULL,
	[Mot_De_Passe] [varchar](50) NOT NULL,
 CONSTRAINT [Administrateur_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Produits]    Script Date: 10/06/2021 17:14:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Produits](
	[ID_produit] [varchar](50) NOT NULL,
	[Nom_Produit] [varchar](50) NOT NULL,
	[Prix] [varchar](50) NOT NULL,
	[Quantite] [varchar](50) NOT NULL,
 CONSTRAINT [Produits_PK] PRIMARY KEY CLUSTERED 
(
	[ID_produit] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Administrateur] ON 

INSERT [dbo].[Administrateur] ([ID], [Pseudo], [Nom], [Prenom], [Date_De_Naissance], [Mot_De_Passe]) VALUES (1, N'roro', N'Le Saulnier', N'Romain', CAST(N'1993-10-03T00:00:00.000' AS DateTime), N'2506')
SET IDENTITY_INSERT [dbo].[Administrateur] OFF
GO
INSERT [dbo].[Produits] ([ID_produit], [Nom_Produit], [Prix], [Quantite]) VALUES (N'1', N'Tomate', N'1.50', N'1000')
GO
USE [master]
GO
